@model IEnumerable<ClientAPI.Models.EmployeeDepartment>

@{
    ViewData["Title"] = "Lista działów pracownicych";
}

    <h1>Lista działów pracownicych</h1>

<p>
    <a asp-action="Create">Dodaj nowy dział</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dział
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
