@model ClientAPI.Models.ItemType

@{
    ViewData["Title"] = "Dodaj typ";
}

<h1>Dodaj typ przedmiotu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeName" class="control-label">Typ przedmiotu</label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy typów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
