@model ClientAPI.Models.Item

@{
    ViewData["Title"] = "Dodaj przedmiot";
}

<h1>Dodaj przedmiot</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label">Nazwa przedmiotu</label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemPrice" class="control-label">Cena przedmiotu</label>
                <input asp-for="ItemPrice" class="form-control" />
                <span asp-validation-for="ItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemCategory" class="control-label">Kategoria</label>
                <select asp-for="ItemCategory" class="form-control" asp-items="@(new SelectList(@ViewBag.listOfCategories,"Id","CategoryName"))"><</select>
                <span asp-validation-for="ItemCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemType" class="control-label">Typ</label>
                <select asp-for="ItemType" class="form-control" asp-items="@(new SelectList(@ViewBag.listOfTypes,"Id","TypeName"))"><</select>
                <span asp-validation-for="ItemType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy przedmiotów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
