@model IEnumerable<ClientAPI.Models.EmployeePosition>

@{
    ViewData["Title"] = "Stanowiska";
}

<h1>Stanowiska</h1>

<p>
    <a asp-action="Create">Dodaj nowe stanowisko</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Stanowisko
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
