@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Klient MVC komunikujący się z serwerem API</h1>
    <p>Zaliczenie semestru WSZiB</p>
    <p>Kacper Niewczas</p>
</div>
